body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main-page {
  flex-grow: 1;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  padding: 16px 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-name {
  color: #2e2f42;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-hero-icon {
  fill: #2f2f37;
}

.nav-list {
  display: none;
  align-items: center;
  gap: 40px;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  position: relative;
}

.nav-link.current::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;

  border-radius: 2px;
  background-color: #404bbf;
}

.logo-name:hover,
.logo-name:focus,
.link-logo:hover,
.link-logo:focus,
.nav-link:hover,
.nav-link:focus,
.add-link:hover,
.add-link:focus,
.nav-link.current,
.menu-link:focus,
.menu-link.current {
  color: #404bbf;
}

.address {
  display: none;
  align-items: center;
  margin-left: auto;
  font-style: normal;
}

.add-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.add-link {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 168px;
  overflow: auto;

  background-color: #ffffff;
  z-index: 1;

  padding-top: 24px;
  padding-right: 24px;
  padding-bottom: 40px;
  padding-left: 16px;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mob-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mob-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #e7e9fc;
  margin-left: auto;
  margin-bottom: 24px;
}

.mob-icon {
  fill: #2e2f42;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.menu-link {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-add-cont {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.mob-add-item:not(:last-child) {
  margin-bottom: 24px;
}

.mob-add-link {
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-add-link.current,
.mob-add-link:focus {
  color: #4d5ae5;
}

.mob-social {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
.mob-social-list {
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.mob-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.mob-link-icon {
  fill: #f4f4fd;
}

.main {
  max-width: 320px;
  padding: 72px 0;
  margin: 0 auto;

  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-title {
  max-width: 216px;
  margin: 0 auto 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
.main-button {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;

  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus,
.foot-btn:hover,
.foot-btn:focus {
  background-color: #404bbf;
}

.feature {
  padding: 96px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 72px;
}

.feature-list-items {
  max-width: 100%;
  margin: 0 auto;
}

.icon-item {
  display: none;
  width: 264px;
  height: 112px;
  padding: 24px 100px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}

.icons {
  fill: #2e2f42;
}

.feature-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.feature-text {
  max-width: 288px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team {
  background: #f4f4fd;
  padding: 96px 0;
}

.team-title {
  margin: 0 auto 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.team-items {
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-items:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-cont {
  text-align: center;
  padding: 32px 16px;
}

.team-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #434455;
}

.team-social {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-icon {
  width: 40px;
  height: 40px;
}

.social-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  padding: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link:hover,
.social-icon-link:focus {
  background-color: #404bbf;
}

.icon {
  fill: #f4f4fd;
}

.portfolio {
  padding: 96px 0;
}

.port-title {
  margin: 0 auto 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.port-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.port-image-desc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background: #4d5ae5;
  color: #f4f4fd;
  padding: 40px 32px;
}

.port-list-item:hover .port-image-desc {
  transform: translateY(0);
}

.port-list-overlay {
  position: relative;
  overflow: hidden;
}

.port-item {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.port-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.port-desc {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer {
  padding: 96px 0;
  background: #2e2f42;
}

.foot-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.foot-link-logo {
  display: block;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;

  margin-bottom: 16px;
}

.foot-logo-name {
  color: #f4f4fd;
}

.footer-text {
  max-width: 288px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  margin-bottom: 16px;
}

.foot-social {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.foot-social-items {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.foot-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-social-link:hover,
.foot-social-link:focus {
  background-color: #31d0aa;
}

.foot-social-icon {
  fill: #f4f4fd;
}

.footer-form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.foot-email {
  font-family: inherit;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  color: #ffffff;
  padding-left: 16px;
}

.foot-email::placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  opacity: 0.6;
}

.foot-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background: #4d5ae5;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.foot-icon-send {
  fill: #fff;
}

.pop-up {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pop-up.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  width: 288px;
  min-height: 623px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  padding: 72px 16px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pop-up:not(.is-open) .modal {
  transform: translateX(-100%);
}

.btn-modal-quit {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: #e7e9fc;
  margin-left: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.quit-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal-quit:hover,
.btn-modal-quit:focus,
.btn-submit:hover,
.btn-submit:focus {
  border: none;
  border: #404bbf;
  background-color: #404bbf;
}

.btn-modal-quit:hover .quit-icon,
.btn-modal-quit:focus .quit-icon {
  fill: #fff;
}

.modal-title {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.label-cont {
  margin-bottom: 8px;
}

.label-cont-last {
  margin-bottom: 16px;
}

.modal-label {
  display: block;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.user-cont-wrap {
  position: relative;
}

.user-modal {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 256px;
  height: 40px;
  padding: 11px 0 11px 38px;

  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-align: left;
  background-color: transparent;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-modal::placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-phone-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-mail-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea.user-modal {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;
}

.ticker-wrap {
  margin-bottom: 24px;
}

.modal-label-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
}

.check-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon {
  fill: #ffffff;
}

.user-tick:checked + .modal-label-ticker .check-icon,
.user-tick:checked + .modal-label-ticker .checkbox-icon {
  border: none;
  border-color: #404bbf;
  background-color: #404bbf;
  fill: #f4f4fd;
}

.ticker-link {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  line-height: 1.33333;
  text-decoration: underline;
  color: #4d5ae5;
}

.btn-submit {
  display: block;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;

  margin: 0 auto;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-modal:focus-within {
  border-color: #4d5ae5;
}

.user-modal:focus-within + .form-icon {
  fill: #4d5ae5;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192 dpi) {
  .main {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile/hero-mob@2x.jpg);
  }
}

@media screen and (max-width: 767px) {
  .add-link {
    padding: 24px 0;
  }
}

@media screen and (max-width: 1157px) {
  .port-list-item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .link-logo {
    padding: 24px 0;
  }

  .nav-hero-icon {
    display: none;
  }

  .navigation {
    justify-content: flex-start;
  }

  .nav-list {
    display: flex;
    margin-left: 120px;
  }

  .address {
    display: contents;
  }

  .add-list {
    flex-direction: column;
    gap: 12px;
  }

  .add-link {
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.04em;
  }

  .main {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet/hero-tablet.jpg);
  }

  .main-title {
    max-width: 496px;
    margin: 0 auto 36px;
    font-size: 56px;
    line-height: 1.07;
  }

  .feature-list {
    gap: 72px 24px;
  }

  .feature-list-items {
    flex-basis: calc((100% - 24px) / 2);
  }

  .team-container {
    max-width: 584px;
  }

  .feature-title {
    text-align: left;
  }

  .feature-text {
    max-width: 356px;
  }

  .team-list {
    gap: 64px 24px;
  }

  .team-items {
    flex-basis: calc((100% - 24px) / 2);
  }

  .team-images {
    margin: 0 auto;
  }

  .port-list {
    gap: 72px 24px;
  }

  .port-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .foot-container {
    max-width: 584px;
    justify-content: flex-start;
    gap: 72px 24px;
  }

  .foot-link-logo {
    text-align: left;
  }

  .footer-text {
    max-width: 264px;
  }

  .social-media {
    text-align: left;
  }

  .footer-form {
    gap: 24px;
  }

  .foot-email {
    width: 264px;
    opacity: 0.3;
  }

  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }

  .user-modal {
    width: 360px;
  }

  .modal-label-checkbox {
    align-items: baseline;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192 dpi) {
    .main {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/tablet/hero-tablet@2x.jpg);
    }
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .nav-list {
    margin-left: 76px;
  }

  .add-list {
    flex-direction: row;
    gap: 40px;
  }

  .main {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desctop/hero-desctop.jpg);
  }

  .main-title {
    margin: 0 auto 48px;
  }

  .feature-list-items {
    flex-basis: calc((100% - 72px) / 4);
  }

  .icon-item {
    display: flex;
  }

  .feature-title {
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .feature-text {
    max-width: 264px;
    font-weight: 400;
  }

  .team {
    padding: 120px 0;
  }

  .team-items {
    flex-basis: calc((100% - 72px) / 4);
  }

  .portfolio {
    padding: 120px 0;
  }

  .port-list {
    gap: 48px 24px;
  }

  .port-list-item {
    max-width: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .port-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .port-list-item {
    flex-basis: calc((100% - 48px) / 3);
  }

  .footer {
    padding: 100px 0;
  }

  .foot-container {
    justify-content: space-between;
    align-items: baseline;
    gap: 0;
  }

  .foot-inner-form {
    margin-left: 80px;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192 dpi) {
    .main {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/desctop/hero-desctop@2x.jpg);
    }
  }
}
